.body {
  background-color: #e5e5e5;
  font-weight: 300;
  font-size: 24px;
  color: #222;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #755858;
  border: 1px solid #000;
}

.header__text {
  font-weight: 400;
  color: #fff;
  padding: 16px 0;
}

.products {
  padding: 38px 0 64px;
}

.products__inner {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.item {
  background-color: #eef8ff;
  border-bottom: 1px solid #2fa6ea;
}

.form__label {
  margin-bottom: 21px;
}

.form__select {
  margin-bottom: 37px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 12px 16px 14px;
  color: #0170ae;
  font-weight: 300;
  font-size: 24px;
}

.form__input {
  margin-bottom: 46px;
  padding: 12px 16px;
  font-weight: 300;
  font-size: 24px;
  color: #0170ae;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 24px;
  color: #0170ae;
}

.form__button {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background-color: #2fa6ea;
  padding: 12px;
}

th {
  font-weight: 300;
  font-size: 24px;
  color: #0170ae;
}

th:first-of-type {
  padding-right: 407px;
}

th:nth-of-type(2) {
  padding-right: 49px;
}

.products__table {
  border-bottom: 1px solid #2fa6ea;
  margin-bottom: 18px;
  height: 500px;
  padding-top: 60px;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
}

.products__sum {
  text-align: right;
  margin-bottom: 25px;
}

.products__btn {
  display: block;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  background-color: #61a91a;
  padding: 11px 131px 13px 143px;
}

.footer {
  background-color: #222;
  height: 221px;
  position: relative;
}

.footer__text {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 10%;
}

@media (max-width: 375px) {
  .products__inner {
    flex-direction: column;
  }

  th {
    display: none;
  }

  .products__table tbody tr {
    display: block; /* Делаем строки блочными элементами */
  }

  .products__table tbody tr td {
    padding-top: 20px;
  }

  .products__table tbody tr td:first-child {
    display: block; /* Делаем ячейки блочными элементами */
    width: 100%; /* Устанавливаем ширину ячейки равной 100% */
  }

  .products__table tbody tr td:first-child {
    width: 100%; /* Первая ячейка занимает всю ширину на мобильных устройствах */
  }

  .products__table tbody tr td:nth-child(2) {
    padding-right: 200px;
  }

  .form {
    width: 100%;
  }

  .products__table {
    margin-bottom: 0;
  }

  .products__btn {
    padding: 12px 88px;
  }

  span {
    display: none;
  }

  .products {
    padding: 25px 0 44px;
  }
}
